.titles {
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

.info {
    float: none;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.information {
    height: 400px;
    overflow: scroll;
}

.poster {
    height: 400px;
}